In [ ]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from statsmodels.stats.outliers_influence import variance_inflation_factor
import pandas as pd

In [36]:


# Laden der Bevolkerung.csv 
bevo = pd.read_excel('bevolkerung.xls',)


# Umbenennenung der Spalte
bevo = bevo.rename(columns={'Country Code': 'ISO3'})

# Reduziere auf nur ISO3 + population
bevo = bevo[['ISO3', '2023']]

# Laden der merged.csv
merged = pd.read_csv('merged.csv')

# Führe den Merge anhand von ISO3 durch
merged = merged.merge(bevo, on='ISO3', how='left')

# Umbennung der Spalte
merged = merged.rename(columns={'2023': 'Population'})
merged = merged.rename(columns={'RP Financing $': 'RP', 'FA Financing $':'FA'})

In [37]:
#mergen der Länderklassifikation

df_class = pd.read_excel("CLASS.xlsx")

# Reduziere auf nur ISO3 + population
df_class = df_class[['ISO3', 'Income group']]
# Führe den Merge anhand von ISO3 durch
merged = merged.merge(df_class, on='ISO3', how='left')


# Speichere in merged.csv (überschreibt die Datei)
merged.to_csv('mergedpop.csv', index=False)

In [38]:
# Mapping der Einkommensgruppen zu numerischen Codes
income_mapping = {
    'Low income': 1,
    'Lower middle income': 2,
    'Upper middle income': 3,
    'High income': 4
}

# Neue Spalte 'Income Group Code' erstellen
merged['Income Group Code'] = merged['Income group'].map(income_mapping)

In [39]:
print(merged)

     Unnamed: 0                           Countries ISO3  \
0             0                         Afghanistan  AFG
1             1                             Albania  ALB
2             2                             Algeria  DZA
3             3                              Angola  AGO
4             4                           Argentina  ARG
..          ...                                 ...  ...
110         110  Venezuela (Bolivarian Republic of)  VEN
111         111                            Viet Nam  VNM
112         112                               Yemen  YEM
113         113                              Zambia  ZMB
114         114                            Zimbabwe  ZWE

                              Region   SIDS   LDCs  # RP  # FA          RP  \
0                       Asia-Pacific  False   True     3     1  1599987.00
1                     Eastern Europe  False  False     6     5  5440619.00
2                             Africa  False  False     2     0  3152062.00
3                             Africa  False   True     4     1  2572547.00
4    Latin America and the Caribbean  False  False    11     5  6198092.00
..                               ...    ...    ...   ...   ...         ...
110  Latin America and the Caribbean  False  False     2     0  3556404.00
111                     Asia-Pacific  False  False     5     6  4688659.00
112                     Asia-Pacific  False   True     5     0  3486360.00
113                           Africa  False   True     9    10  4538878.79
114                           Africa  False  False     6     2  4164077.00

               FA  ...  2030 upper  2030 lower  GRadUn  GradCon  \
0    1.719884e+07  ...        52.8        45.6     NaN      NaN
1    5.209917e+07  ...        11.5        11.5     NaN      NaN
2             NaN  ...       247.1       208.1     5.1      4.7
3    9.616032e+06  ...        98.9        80.2     NaN      NaN
4    2.254083e+08  ...       339.8       339.8     3.9      3.9
..            ...  ...         ...         ...     ...      ...
110           NaN  ...       233.4       233.4     5.1      5.1
111  2.105726e+08  ...       543.5       543.5     5.1      5.1
112           NaN  ...        45.3        39.4     1.2      1.2
113  1.495571e+08  ...        62.3        50.3     1.2      1.2
114  3.543288e+07  ...        35.3        35.3     NaN      NaN

    Total Change 2019-2030 Upper (%)  Total Change 2019-2030 Lower (%)  \
0                               6.88                             -7.69
1                              17.35                             17.35
2                              23.92                              4.36
3                              -4.81                            -22.81
4                               0.92                              0.92
..                               ...                               ...
110                            23.95                             23.95
111                            27.34                             27.34
112                            33.63                             16.22
113                           107.67                             67.67
114                            48.32                             48.32

     AvgChange%   Population         Income group  Income Group Code
0         -0.40   41454761.0           Low income                  1
1         17.35    2745972.0  Upper middle income                  3
2         14.14   46164219.0  Upper middle income                  3
3        -13.81   36749906.0  Lower middle income                  2
4          0.92   45538401.0  Upper middle income                  3
..          ...          ...                  ...                ...
110       23.95   28300854.0  Lower middle income                  2
111       27.34  100352192.0  Lower middle income                  2
112       24.93   39390799.0           Low income                  1
113       87.67   20723965.0  Lower middle income                  2
114       48.32   16340822.0  Lower middle income                  2

[115 rows x 32 columns]

In [40]:
#Finanzierungsgelder pro Einwohner

merged["RPPOP"] = merged["RP"] / merged["Population"]
merged["FAPOP"] = merged["FA"] / merged["Population"]

In [41]:
# Relevante Spalten, die mit 0 gefüllt werden sollen
# Weil wenn die Spalte leer ist, dann gab es keine Gelder, also nicht NA sondern einfach 0
fill_cols = ['RP', 'FA', 'RPPOP', 'FAPOP', ]

# Nur falls die Spalten auch vorhanden sind
for col in fill_cols:
    if col in merged.columns:
        merged[col] = merged[col].fillna(0)


print("Fehlende Werte in RP/FA/RPPOP/FAPOP wurden mit 0 ersetzt.")

Fehlende Werte in RP/FA/RPPOP/FAPOP wurden mit 0 ersetzt.

In [42]:
# GDP per Capita hinzufügen
# einlesen
df_gdp = pd.read_excel("gdppercapita.xls")
print(df_gdp)

# Jahre überprüfen in abfolgender Reihenfolge, sprich das aktuellste zuerst (bis 1999)
years = [str(year) for year in range(2023, 1999, -1)]

# Neue Spalte erstellen und mit NAN initialisieren
df_gdp['GDPCap'] = np.nan

# Durch die Spalten gehen und den aktuellsten Wert nehmen
for year in years:
    if year in df_gdp.columns:
        df_gdp['GDPCap'] = df_gdp['GDPCap'].fillna(df_gdp[year])

# Überprüfung der Länder welche Nan-Werte haben
countries_with_nan_gdpc = df_gdp[df_gdp['GDPCap'].isna()]['ISO3'].tolist()
columns2=['ISO3', 'GDPCap']

# Mergen

merged = merged.merge(df_gdp[columns2], on='ISO3', how='left')

merged['LogGDPCap'] = np.log(merged['GDPCap'])
print("Merged DataFrame:")
print(merged.head())
print("\nCountries with NaN in GDPCap:")
print(countries_with_nan_gdpc)


merged.to_csv('NEWmergedpop.csv', index=False)

                    Country Name ISO3  1960  1961  1962  1963  1964  1965  \
0                          Aruba  ABW   NaN   NaN   NaN   NaN   NaN   NaN
1    Africa Eastern and Southern  AFE   NaN   NaN   NaN   NaN   NaN   NaN
2                    Afghanistan  AFG   NaN   NaN   NaN   NaN   NaN   NaN
3     Africa Western and Central  AFW   NaN   NaN   NaN   NaN   NaN   NaN
4                         Angola  AGO   NaN   NaN   NaN   NaN   NaN   NaN
..                           ...  ...   ...   ...   ...   ...   ...   ...
261                       Kosovo  XKX   NaN   NaN   NaN   NaN   NaN   NaN
262                  Yemen, Rep.  YEM   NaN   NaN   NaN   NaN   NaN   NaN
263                 South Africa  ZAF   NaN   NaN   NaN   NaN   NaN   NaN
264                       Zambia  ZMB   NaN   NaN   NaN   NaN   NaN   NaN
265                     Zimbabwe  ZWE   NaN   NaN   NaN   NaN   NaN   NaN

     1966  1967  ...          2015          2016          2017          2018  \
0     NaN   NaN  ...  35972.866445  36117.508211  37524.928478  39287.019517
1     NaN   NaN  ...   3456.365448   3551.069323   3703.886605   3648.310911
2     NaN   NaN  ...   2284.075848   2213.181441   2335.795862   2432.276701
3     NaN   NaN  ...   4052.733797   3996.864267   4063.185050   4198.081042
4     NaN   NaN  ...   7119.726443   6843.735897   6992.728834   7347.799936
..    ...   ...  ...           ...           ...           ...           ...
261   NaN   NaN  ...   8714.919664   9157.046307   9380.940073  10018.738708
262   NaN   NaN  ...           NaN           NaN           NaN           NaN
263   NaN   NaN  ...  13397.523481  13519.323510  13738.438585  13347.363483
264   NaN   NaN  ...   3337.473069   3313.351216   3391.627685   3442.273072
265   NaN   NaN  ...   2646.653993   2796.796475   7045.357426   2614.406271

             2019          2020          2021          2022          2023  \
0    39110.276190  28976.463550  35696.309372  41649.450792  44967.344513
1     3742.848955   3629.508004   3907.951637   4229.682100   4374.229532
2     2583.485332   2561.981761   2144.166570   2122.995815   2211.280635
3     4454.156038   4441.937338   4698.926894   5107.272939   5343.468529
4     7528.382418   6450.749946   7408.126591   7924.888806   8040.702450
..            ...           ...           ...           ...           ...
261  10861.053175  10532.499586  12362.414097  13950.896732  15141.245733
262           NaN           NaN           NaN           NaN           NaN
263  13361.485129  12671.086244  13711.293573  14759.435072  15194.199176
264   3361.397503   3157.300093   3503.034914   3840.724505   4076.995087
265   3211.471913   3510.594036   3184.785451   3560.043273   3820.362629

     2024
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
..    ...
261   NaN
262   NaN
263   NaN
264   NaN
265   NaN

[266 rows x 67 columns]
Merged DataFrame:
   Unnamed: 0    Countries ISO3                           Region   SIDS  \
0           0  Afghanistan  AFG                     Asia-Pacific  False
1           1      Albania  ALB                   Eastern Europe  False
2           2      Algeria  DZA                           Africa  False
3           3       Angola  AGO                           Africa  False
4           4    Argentina  ARG  Latin America and the Caribbean  False

    LDCs  # RP  # FA         RP            FA  ...  \
0   True     3     1  1599987.0  1.719884e+07  ...
1  False     6     5  5440619.0  5.209917e+07  ...
2  False     2     0  3152062.0  0.000000e+00  ...
3   True     4     1  2572547.0  9.616032e+06  ...
4  False    11     5  6198092.0  2.254083e+08  ...

   Total Change 2019-2030 Upper (%)  Total Change 2019-2030 Lower (%)  \
0                              6.88                             -7.69
1                             17.35                             17.35
2                             23.92                              4.36
3                             -4.81                            -22.81
4                              0.92                              0.92

   AvgChange%  Population         Income group  Income Group Code     RPPOP  \
0       -0.40  41454761.0           Low income                  1  0.038596
1       17.35   2745972.0  Upper middle income                  3  1.981309
2       14.14  46164219.0  Upper middle income                  3  0.068279
3      -13.81  36749906.0  Lower middle income                  2  0.070001
4        0.92  45538401.0  Upper middle income                  3  0.136107

       FAPOP        GDPCap  LogGDPCap
0   0.414882   2211.280635   7.701327
1  18.972944  21263.195659   9.964733
2   0.000000  16824.487903   9.730591
3   0.261661   8040.702450   8.992272
4   4.949851  30082.304525  10.311692

[5 rows x 36 columns]

Countries with NaN in GDPCap:
['ASM', 'CHI', 'CUB', 'GIB', 'GUM', 'IMN', 'INX', 'LIE', 'MAF', 'MCO', 'MNP', 'NCL', 'PRK', 'PYF', 'VGB']

In [44]:
#NDGAIN  hinzufügen

#einlesen
df_gain = pd.read_csv("gain.csv")
print(df_gain)

# Umbennenung
df_gain.rename(columns={'2022': 'NDGAIN'}, inplace=True)
columns3=['ISO3', 'NDGAIN']

# Mergen
merged = merged.merge(df_gain[columns3], on='ISO3', how='left')
merged.to_csv('NEWmergedpop.csv', index=False)

    ISO3                              Name       1995       1996       1997  \
0    AFG                       Afghanistan  34.782309  34.775913  34.855036
1    ALB                           Albania  43.676623  43.659503  43.596649
2    DZA                           Algeria  45.112792  45.225430  45.122920
3    AND                           Andorra        NaN        NaN        NaN
4    AGO                            Angola  34.723153  34.712671  34.656007
..   ...                               ...        ...        ...        ...
187  VEN  Venezuela, Bolivarian Republic o  45.753557  45.688648  45.789780
188  VNM                          Viet Nam  41.893196  42.006936  42.046623
189  YEM                             Yemen  37.229012  37.298996  37.217630
190  ZMB                            Zambia  40.634959  40.616142  40.764332
191  ZWE                          Zimbabwe  38.438700  38.225003  38.056483

          1998       1999       2000       2001       2002  ...       2013  \
0    35.025308  35.019150  35.015724  35.419389  35.828180  ...  31.922780
1    43.342957  43.051504  43.191009  43.411224  43.833523  ...  48.035159
2    45.121409  45.451734  45.731271  45.943948  46.138175  ...  45.658353
3          NaN        NaN        NaN        NaN        NaN  ...        NaN
4    34.598638  34.633775  34.664886  34.946188  35.437654  ...  35.451804
..         ...        ...        ...        ...        ...  ...        ...
187  45.738577  45.804464  45.879884  45.454578  44.687819  ...  42.237330
188  42.139260  42.230850  42.542091  42.414202  42.272499  ...  45.397000
189  37.282887  37.412735  37.464549  37.413612  37.480374  ...  38.300585
190  40.735413  40.789268  40.809257  40.815512  39.889277  ...  40.897938
191  37.803579  36.793736  35.681115  35.277233  34.620321  ...  33.356617

          2014       2015       2016       2017       2018       2019  \
0    32.873126  33.028579  33.314605  32.553373  32.433586  32.990645
1    49.506676  49.963199  49.625528  49.575153  50.100590  50.025707
2    45.587321  45.809528  46.305231  47.353975  47.361236  47.382041
3          NaN        NaN        NaN        NaN        NaN        NaN
4    35.604407  35.290520  36.632381  36.704605  37.163026  37.347860
..         ...        ...        ...        ...        ...        ...
187  41.825883  41.510376  41.960225  41.521737  40.844095  40.887184
188  46.088577  46.177947  47.061291  47.155139  47.584512  47.810169
189  37.539423  36.806748  35.694788  36.498680  35.964815  36.171892
190  41.573382  41.006614  41.767346  41.782105  41.830596  41.718035
191  33.611995  33.928503  34.546228  34.768348  35.196649  35.504782

          2020       2021       2022
0    32.722335  33.006631  33.207456
1    50.344607  51.187792  51.757180
2    48.654352  48.274185  48.666501
3          NaN        NaN        NaN
4    37.358879  37.870587  38.079516
..         ...        ...        ...
187  40.571297  40.653760  41.039207
188  48.056060  48.462745  48.704433
189  36.151136  36.039734  36.168169
190  41.443430  41.693729  42.119343
191  35.557983  35.876770  36.214472

[192 rows x 30 columns]

In [45]:
#WGI-Indikatoren

# Datei laden
wgi = pd.read_excel("wgidataset.xlsx")

# Nur die 5 relevanten Indikatoren auswählen
relevant_indicators = ["va", "pv", "ge", "rl", "cc"]
wgi = wgi[wgi["indicator"].isin(relevant_indicators)]

# Sicherstellen, dass 'estimate' numerisch ist
wgi["estimate"] = pd.to_numeric(wgi["estimate"], errors="coerce")

# Sortieren nach Jahr absteigend, damit neueste Werte oben stehen
wgi = wgi.sort_values(by=["code", "indicator", "year"], ascending=[True, True, False])

# Entferne Duplikate: Behalte pro (Land, Indikator) nur den neuesten Eintrag
wgi_latest = wgi.drop_duplicates(subset=["code", "indicator"], keep="first")

# Pivotieren: ISO3 ("code") = Zeilen, Indikatoren = Spalten
wgi_wide = wgi_latest.pivot(index="code", columns="indicator", values="estimate")


# Index zurücksetzen für Merge
wgi_wide = wgi_wide.reset_index()

# Mergen 
merged = merged.merge(wgi_wide, left_on="ISO3", right_on="code", how="left")

# Zwischenspeichern
merged.to_csv('NEWmergedpop.csv', index=False)

In [46]:
# Hinzufügen Faktor Ambition
df_faktor = pd.read_csv('faktorndc_explorer.csv')


# Umbenenne der Spalte
df_faktor = df_faktor.rename(columns={'country_code': 'ISO3'})



# Führe den Merge anhand von ISO3 durch
merged = merged.merge(df_faktor, on='ISO3', how='left')

# Zwischenspeichern
merged.to_csv('NEWmergedpop.csv', index=False)

In [47]:
# Hinzufügen vom Faktor Delta CO2/BIP 
df_delta = pd.read_csv('co2intensitydelta.csv')


# Umbenenne der Spalte
df_delta = df_delta.rename(columns={'Code': 'ISO3'})

# Nur ISO3 und Delta-Spalte auswählen
df_delta = df_delta[['ISO3', 'δCO2/GDP']]
# Führe den Merge anhand von ISO3 durch
merged = merged.merge(df_delta, on='ISO3', how='left')

#Zwischenspeichern
merged.to_csv('NEWmergedpop.csv', index=False)

In [1]:
#HKA erstellen

# CSV-Datei laden
df = pd.read_csv("NEWmergedpop.csv")

# Governance-Variablen definieren
governance_vars = ['va', 'pv', 'ge', 'rl', 'cc']

# Governance-Daten extrahieren und fehlende Werte entfernen
df_gov = df[governance_vars].dropna()

# Standardisieren
scaler = StandardScaler()
X_scaled = scaler.fit_transform(df_gov)

# PCA mit 2 Komponenten
pca = PCA(n_components=2)
X_pca = pca.fit_transform(X_scaled)

# Neue PCA-Variablen ins Haupt-DataFrame einfügen
df.loc[df_gov.index, 'Gov_PCA1'] = X_pca[:, 0]
df.loc[df_gov.index, 'Gov_PCA2'] = X_pca[:, 1]


# Finale Speicherung des Datasets
df.to_csv("NEWmergedpop.csv", index=False)
print("✅ Datei 'NEWmergedpop.csv' mit Gov_PCA1 und Gov_PCA2 gespeichert.")

✅ Datei 'NEWmergedpop.csv' mit Gov_PCA1 und Gov_PCA2 gespeichert.